.logoWrapper {
  display: flex;
  position: relative;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  @media (max-width: 480px) {
    gap: 4px;
  }
  & > a > button {
    &:active {
      transform: translate3d(0px, 1px, 0px);
      transition: cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid rgba(221, 221, 221, 1);
  z-index: 2;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 16px;
  visibility: hidden;
  transition: visibility 0.1s all 0.3s;
  z-index: 11;
  background-color: #ffffff;
  box-shadow: 5px 5px 30px rgba(18, 18, 23, 0.05);
  border-radius: 15px;
  border: 1px solid #ebebeb;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
  }

  & > li:not([aria-label="fix"]) {
    @media (max-width: 600px) {
      display: none;
    }
  }

  & > li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 12px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 5px;
    & > svg {
      @media (max-width: 480px) {
        width: 85%;
      }
    }
    &:hover {
      background-color: var(--artiside-neutral5);
      & > svg > path {
        fill: black;
      }
    }
  }

  .fillStroke:hover > svg > path {
    stroke: black;
  }
}

.open {
  transform: rotate(-180deg);
  transition: 0.25s;
}
