.connector {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid var(--artiside-neutral5);
  border-radius: 6.25rem;
  padding: 7px;
  height: 48px;

  & > h1 {
    color: var(--artiside-neutral1);
    font-weight: 500;
    font-size: 14px;
  }
}

.list {
  border-top: 1px solid rgba(238, 238, 238, 1);
  margin-top: 20px;
  padding-top: 10px;
  & > li {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f2f3f4;
      transition: 0.2s;
    }
  }
}
