.section {
  border-radius: 10px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 8px;
}

.heading {
  & > h1 {
    color: var(--artiside-neutral1);
    font-weight: 700;
  }
}

.body {
  & > p {
    font-size: 13px;
    color: var(--artiside-neutral1);
    font-weight: 400;
    letter-spacing: -0.13px;
    & > .red {
      color: var(--secondary-color);
      font-weight: 700;
    }
    & > .blue {
      color: var(--primary-color);
      font-weight: 700;
    }
  }
}
