.button {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  background: linear-gradient(113.33deg, #000000 34.93%, #555555 97.4%);
  border-radius: 100px;
  font-family: 'Rota';
  font-weight: 600;
  font-size: 15px;

  &:hover,
  &.primary {
    background: var(--primary-color);
    cursor: pointer;
  }

  &.red {
    background: var(--secondary-color);
  }

  &.secondary {
    background: #ffffff;
    border: 1px solid #e3e3e3;
    color: #888888;
    transition: background 300ms;
    &:hover {
      background: var(--artiside-neutral6);
    }
  }

  &:disabled {
    background: linear-gradient(0deg, #eeeeee, #eeeeee), #dddddd;
    color: rgba(187, 187, 187, 1);
    cursor: not-allowed;
  }

  &.xs {
    height: 32px;
    font-size: 14px;
  }

  &.sm {
    height: 48px;
  }

  &.md {
    height: 60px;
    @media (max-width: 480px) {
      height: 48px;
    }
  }

  &.lg {
    height: 70px;
    font-size: 20px;
    @media (max-width: 768px) {
      height: 54px;
      font-size: 16px;
      &:disabled {
        color: var(--artiside-neutral2) !important;
      }
    }
  }

  &.square {
    background: linear-gradient(109.69deg, #6c54f3 36.82%, #9482ff 92.64%);
    border-radius: 5px;
    padding: 10px 20px;
    height: 40px;
    font-size: 14px;
    width: 100%;
    box-shadow: inset -1px -1px 2px #412ac9, inset 1px 1px 2px #c9beff;
  }

  .circular {
    margin-right: 12px;
  }
}
