.tableDiv {
  margin-bottom: 80px;
}
.nextEpisode {
  color: var(--artiside-neutral1);
  font-family: SUIT;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.2px;
  margin-bottom: 13px;
}
