.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.head {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 480px) {
    gap: 8px;
  }

  & > p {
    color: rgba(27, 30, 36, 1);
    font-weight: 600;
    font-family: SUIT;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.body {
  text-align: right;
}

.webIcon {
  display: block;
  @media (max-width: 480px) {
    display: none;
  }
}

.mobileIcon {
  display: none;
  @media (max-width: 480px) {
    display: block;
  }
}
