.header {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  background-color: var(--background-primary);

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: space-around;
    border-bottom: none;
  }
}

.pcHeader {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  background-color: var(--background-primary);

  @media (max-width: 1024px) {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: none;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  gap: 40px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 5px;

  .testnet {
    display: flex;
    align-items: center;
    background: linear-gradient(112.43deg, #5f44ff 31.89%, #9482ff 93.62%);
    width: fit-content;
    height: 16px;
    padding: 0px 6px;
    font-size: 10px;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Rota';
    font-weight: bold;
  }
}

.search {
  position: relative;
  max-width: 504px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid var(--artiside-neutral5);
  border-radius: 100px;
  box-shadow: 0px 1px 3px rgba(142, 148, 169, 0.3);
  @media (max-width: 1024px) {
    display: none;
  }

  & > .icon {
    position: absolute;
    left: 14px;
    top: 7px;
  }

  & > .input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;

    & > input {
      width: calc(100% - 90px);
      border: none;
      outline: none;
      font-family: SUIT;
      font-weight: 500;
      font-size: 16px;
      color: var(--artiside-neutral1);

      &::placeholder {
        font-size: 16px;
        font-family: SUIT;
        font-weight: 400;
        color: var(--artiside-neutral4);
      }
    }
  }

  & > .close {
    position: absolute;
    right: 14px;
    top: 9px;
  }

  & > .searchOpen {
    font-family: Inter;
    position: absolute;
    right: 14px;
    top: 8px;
    background-color: rgba(229, 232, 235, 1);
    width: 22px;
    height: 22px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
  }
}

.searchResult {
  box-shadow: 0px 4px 5px rgba(186, 191, 197, 0.3);
  position: absolute;
  top: 40px;
  visibility: hidden;
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 4px 20px 16px;
  z-index: 2;
}

.on {
  visibility: visible;
  translate: 0 10px;
  transition: 0.25s;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
  @media (max-width: 1024px) {
    display: none;
  }

  & > button {
    width: 105px;
    // padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    height: 48px;
  }
  .signin {
    color: #050505;
    border: 1px solid #747474;
  }
  .signup {
    color: #fff;
    background-color: #000;
  }
}

.connectBox {
  @media (max-width: 1024px) {
    display: none;
  }
}

.createButton {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  height: 48px;
  padding: 0 24px;
  border-radius: 100px;
  background-color: var(--secondary-color);
  font-size: 14px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.mobileButtonWrapper {
  display: none;
  align-items: center;
  gap: 6px;
  @media (max-width: 1024px) {
    display: flex;
  }
}

.mobileButton {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  transition: 0.25s;
  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover,
  :active {
    background-color: var(--artiside-neutral5);
    transition: 0.25s;
    & > svg {
      & > g {
        & > path {
          stroke: var(--artiside-neutral1);
        }
        & > circle {
          stroke: var(--artiside-neutral1);
        }
      }
      & > path {
        stroke: var(--artiside-neutral1);
      }
    }
  }
}

.tabletButton {
  &:hover {
    color: var(--artiside-neutral1);
    & svg path {
      fill: var(--artiside-neutral1);
      stroke: var(--artiside-neutral1);
      transition: 300ms;
    }
  }
  @media (max-width: 599px) {
    display: none;
  }
}

.isConnect {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 14px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 10px;
  height: 44px;
  padding: 0 10px;

  & > h1 {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
  }

  &:hover {
    background-color: #eff2f3;
  }
  & > svg {
    flex-shrink: 0;
  }
}
