.textWrapper {
  max-width: 630px;
  min-width: 520px;
  font-style: normal;
  @media (max-width: 1080px) {
    max-width: 100%;
    min-width: 100%;
  }
  div {
    color: #c2c9ce;
    font-family: SUIT;
    font-size: 30px;
    font-weight: 900;
    line-height: 160%; /* 48px */
    letter-spacing: -1.2px;
    @media (max-width: 1080px) {
      font-size: 17px;
      letter-spacing: -0.68px;
    }
  }
  b {
    display: block;
    color: #1b1e24;
    font-family: SUIT;
    font-size: 36px;
    font-weight: 800;
    line-height: 140%; /* 50.4px */
    letter-spacing: -1.44px;
    margin-bottom: 36px;
    @media (max-width: 1080px) {
      font-size: 20px;
      font-weight: 700;
      line-height: 150%; /* 30px */
      letter-spacing: -0.8px;
      margin-bottom: 20px;
    }
  }
  p {
    color: #555a5e;
    font-family: SUIT;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -1.2px;
    @media (max-width: 1080px) {
      font-size: 14px;
      line-height: 150%; /* 21px */
      letter-spacing: -0.28px;
    }

    b {
      display: inline;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      margin-bottom: inherit;
      font-weight: 600;
    }
  }
  ul {
    color: #555a5e;
    font-family: SUIT;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-left: 30px;
    list-style-type: disc;
    @media (max-width: 1080px) {
      font-size: 14px;
      line-height: 150%; /* 21px */
      letter-spacing: -0.28px;
      margin-left: 20px;
    }

    li {
      padding-left: 6px;
      @media (max-width: 1080px) {
        padding-left: 0px;
      }
    }
  }
}
