.reportModal {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px 30px 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;

  & > .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;

    & > h1 {
      font-size: 18px;
      font-weight: 600;
      color: var(--artiside-neutral1);
    }

    & > button {
      position: absolute;
      right: 0px;
    }
  }
}

.reportList {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;

  & > label {
    cursor: pointer;
  }
}

.formTitle {
  margin-bottom: 16px;
}

.textarea {
  border: 1px solid var(--artiside-neutral5);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 6px;
  transition: border 0.25s;

  & > textarea {
    font-family: SUIT;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    &::placeholder {
      color: var(--artiside-neutral2);
    }
  }
}

.count {
  display: flex;
  justify-content: space-between;
  color: var(--artiside-neutral2);
  font-size: 14px;
  transition: 0.25s;
}

.aboutReport {
  color: var(--artiside-neutral2);
  font-weight: 300;
  line-height: 22.4px;
  margin-bottom: 20px;
}
