.controlDiv {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(170, 170, 170, 0.15);
  margin-bottom: 56px;
  padding: 25px 30px;
}
.label {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--artiside-neutral2);
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.16px;
}
.activityTypeButton {
  display: flex;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid var(--artiside-neutral4);
  background: #fff;
  color: var(--artiside-neutral2);
  font-family: SUIT;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.16px;
  &.active {
    border: 1px solid var(--primary-color);
    background: var(--primary-color-10);
    color: var(--primary-color);
  }
}
