.connectWebBtn {
  display: block;
  animation: bounce 1s infinite;

  @media (max-width: 1080px) {
    display: none !important;
  }
}

.connectMobileBtn {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media (max-width: 1080px) {
    display: block;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-0%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
