.seedingGroupChip {
  display: inline-flex;
  width: fit-content;
  height: 20px;
  padding: 0 6px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #e6e9ec;
  color: var(--artiside-neutral1);
  font-family: SUIT;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  button {
    width: 16px !important;
    height: 16px !important;
    display: flex;
    align-items: center;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}
