.header {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 0;
  margin-bottom: 30px;
  @media (max-width: 480px) {
    display: flex;
  }
  & > h1 {
    color: var(--artiside-neutral1);
    font-weight: 700;
    letter-spacing: -0.16px;
  }
  & > button {
    position: absolute;
    left: 10px;
  }
}