.activityLabel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.14px;
  padding: 6px 12px;
}
