.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 5px;
  transition: background-color 300ms;
  cursor: pointer;
  &:active, &:hover {
    background-color: var(--artiside-neutral5);
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
  & > h1 {
    font-weight: 600;
    font-size: 15px;
    color: var(--artiside-neutral1);
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.right {
  font-size: 0;
}