.signupContainer {
  position: relative;
  padding: 120px 0 160px;
  font-family: 'SUIT';
  text-align: center;
  @media (max-width: 768px) {
    padding: 60px 20px;
  }

  .topButtonWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  .title {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 16px;
    @media (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 20px;
    }
  }
  .desc {
    font-family: 'SUIT';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin: 0 auto 70px;
    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 160%;
    }
  }
  .signupButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto 220px;
    @media (max-width: 768px) {
      margin: 0 auto 120px;
    }

    .walletButton {
      width: 420px;
      @media (max-width: 1024px) {
        width: fit-content;
      }
    }
    .or {
      color: #888888;
    }
    .socialButtonWrap {
      display: flex;
      gap: 13px;

      .googleButton {
        width: 64px;
        height: 64px;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 100%;
        outline: none !important;
        cursor: pointer;
      }
      .appleButton {
        width: 64px;
        height: 64px;
        background: #000000;
        border: none;
        border-radius: 100%;
        outline: none !important;
        cursor: pointer;
      }
      .googleLogo {
        width: 20px;
        height: 20px;
        background-image: url(../../adf-connect/assets/images/google-logo.svg);
        margin: 0 auto;
      }
      .appleLogo {
        width: 24px;
        height: 24px;
        background-image: url(../../adf-connect/assets/images/apple-logo-white.svg);
        margin: 0 auto;
      }
    }
  }
  .serviceContainer {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .serviceBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      height: 273px;
      padding: 0 80px 0 35px;
      text-align: left;
      border-left: 1px solid #ddd;
      @media (max-width: 1024px) {
        width: 50%;
        height: 220px;
        margin-bottom: 30px;
        border-left: none;
      }
      @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
        padding: 0;
      }
    }
    .artisideLogo {
      width: 108px;
      height: 32px;
      background-image: url(../../adf-connect/assets/images/artiside-logo.svg);
    }
    .liviewLogo {
      width: 117px;
      height: 25px;
      background-image: url(../../adf-connect/assets/images/liview-logo.svg);
    }
    .fluxLogo {
      width: 143px;
      height: 24px;
      background-image: url(../../adf-connect/assets/images/flux-logo.svg);
    }
    .defiLogo {
      width: 92px;
      height: 25px;
      background-image: url(../../adf-connect/assets/images/defi-logo.svg);
    }
    .serviceName {
      display: flex;
      align-items: flex-end;
      height: 40px;
      font-family: 'SUIT';
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #333333;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        margin-top: 14px;
      }
    }
    .serviceDesc {
      font-family: 'SUIT';
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      height: 104px;
      color: #888888;
    }
  }

  .onlyMobile {
    @media (min-width: 769px) {
      display: none;
    }
  }
  .exceptMobile {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
