.rewardBoxWrap {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}
.stakinVotingRewardWrap {
  width: 50%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 15px 40px 0px rgba(187, 187, 187, 0.15);
  display: flex;
  padding: 50px 0 40px;
}
.rewardBox {
  width: 50%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 15px 40px 0px rgba(187, 187, 187, 0.15);
  padding: 0 24px;
}

.unclaimedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0 40px;
  border-bottom: 1px solid #eff2f3;
}
.claimableDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0 40px;
  text-align: center;
}
.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .infoWrap {
    text-align: center;
    margin-top: 13px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.14px;
    svg {
      margin-bottom: 8px;
    }
  }
}

.halfRewardBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 0 24px;
  &:first-of-type {
    border-right: 1px solid #e6e9ec;
  }

  .unclaimedDiv {
    padding: 0 0 40px;
  }
  .claimableDiv {
    padding: 30px 0 0;
  }
  .rewardRow {
    width: 100%;
  }
}

.divider {
  width: 1px;
  height: 146px;
  border-left: 1px solid #eff2f3;
}
.rewardRow {
  width: 50%;
  position: relative;
  text-align: center;

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--artiside-neutral2);
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.14px;
    margin-bottom: 20px;
    span {
      margin-top: 4px;
      margin-left: 4px;
    }
  }

  .price > div:first-child > div > p {
    font-size: 28px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid var(--artiside-neutral5);
    color: var(--artiside-neutral1);
    text-align: center;
    font-family: SUIT;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.28px;
    margin: 20px auto 0;

    &:disabled {
      background-color: var(--artiside-neutral5);
      color: var(--artiside-neutral2);
      cursor: default;
    }
  }
  &:last-of-type button {
    border-radius: 10px;
    border: none;
    background: var(--blue, #00b5b0);
    box-shadow: 0px 1px 3px 0px rgba(142, 148, 169, 0.15);
    color: var(--artiside-neutral7);
    font-size: 16px;
    &:disabled {
      background-color: var(--artiside-neutral5);
      color: var(--artiside-neutral2);
      cursor: default;
    }
  }

  .claimableRewardInfo {
    position: absolute;
    bottom: 20px;
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.12px;
  }
}

.priceDesc {
  color: var(--artiside-neutral2);
  text-align: center;
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.14px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  & > div:first-child > div {
    // InfoTypography <p tag>
    & > p {
      font-size: 36px;
      line-height: 26px;
      @media (max-width: 480px) {
        font-size: 24px;
        line-height: 20px;
      }
    }

    & > span {
      font-size: 18px;
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  & > div:nth-child(2) > div {
    // DollarTypography <p tag>
    & > p {
      letter-spacing: -0.02em;
      font-size: 18px;
    }
  }
}
